[submodule "2017-2018/Fall/automated-kali"]
	path = 2017-2018/Fall/automated-kali
	url = https://github.com/elreydetoda/automated-kali
[submodule "2017-2018/Fall/automated_kali-elreydetoda"]
	path = 2017-2018/Fall/automated_kali-elreydetoda
	url = https://github.com/elreydetoda/automated-kali
[submodule "2017-2018/Fall/SpaceSecure-trvon"]
	path = 2017-2018/Fall/SpaceSecure-trvon
	url = https://github.com/trvon/SpaceSecure.git
[submodule "vagrant_files-elreydetoda"]
	path = 2017-2018/Spring/vagrant-files
	url = https://github.com/elreydetoda/vagrant-files.git
[submodule "2017-2018/Spring/vagrant_files-elreydetoda"]
	path = 2017-2018/Spring/vagrant_files-elreydetoda
	url = https://github.com/elreydetoda/vagrant-files.git
[submodule "2017-2018/Spring/magspoof-mtagius"]
	path = 2017-2018/Spring/magspoof-mtagius
	url = https://github.com/mtagius/magspoof-49th-SD
